/*
!wercker.yml
!/.gitignore
!/.gitmodules
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/LICENSE
!/build.gradle
!/build.properties
!/build.bat
!/build.sh
!/gradle.properties
gradle/wrapper/gradle-wrapper.jar
.DS_Store